body {
  background-color: rgb(253, 251, 251);
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #f1faee;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e63946;
  flex-wrap: wrap;
}

section {
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
}

header h1 {
  color: #457b9d !important;
}

a {
  text-decoration: none;
  color: #f1faee;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  text-align: center;
  margin: 0.5%;
  background-color: #e63946 !important;
}

header a {
  font-size: 12px;
  margin: 0.5%;
}

h2 {
  width: 100%;
  font-size: 65px;
  text-align: center;
  color: #e63946;
}

.img_container {
  max-width: 35%;
  border-radius: 50%;
}

.img_container img {
  border-radius: 50%;
}

#listas {
  padding: 4%;
  background-color: #1d3557;
}

main {
  top: 85px;
  position: relative;
}

table {
  text-align: center;
}

th {
  color: #457b9d !important;
}

td {
  color: #e63946;
}

article , aside {
  max-width: 35%;
  margin: 40px 20px;
}

footer {
  width: 100%;
  background-color: #1d3557;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  padding: 1%;
}

#listas li {
  color: white;
  line-height: 20px;
  margin: 1px auto;
  letter-spacing: 1px;
}

.lessons-title {
  color: #f1faee;
  font-size: 28px;
}

#listas div {
  background-color: #e63946;
  padding: 4% 6%;
  border-radius: 12px;
}

ul, ol {
  text-align: center;
}
