@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* general rules */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: 'Amatic SC';
}

body {
  background-color: #F7F7FF;
  color: #122932;
}

a {
  text-decoration: none;
  color: #122932;
}

header {
  background-color: #907F9F;
  font-size: 1.2rem;
  font-weight: bold;
}