* {
  /* border: 1px solid red; */
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

header.navigation {
  position: fixed;
  z-index: 1;
  background-color: #FFAE03;
  top: 0;
  width: 100%;
  height: 40px;
}

.left {
  position: absolute;
  left: 0px;
  
}

.right {
  position: absolute;
  right: 0px;
  
}

.navigation li {
  display: inline-block;
  margin: 10px;
}

main {
  position: relative;
  top: 40px;
}