body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  border: 2px solid black;
  z-index: 999;
  background-color: rgb(199, 183, 241);
}

header li {
  display: inline-block;
  margin: 0 20px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: purple;
}

.left {
  float: left;
}

.right {
  float: right;
}

.about-me div {
  display: inline-block;
  max-width: 40%;
  margin: 0 50px;
  vertical-align: text-top;
}

main {
  top: 100px;
  position: relative;
}

img {
  border-radius: 50%;
}

.about-me {
  text-align: center;
  margin-bottom: 100px;
}

h1 {
  font-size: 50px;
  color: purple;
  border: 4px solid black;
  padding: 20px 20px;
  border-radius: 12px;
  background-color: rgb(199, 183, 241);
}

p {
  font-style: italic;
  color: purple;
  font-weight: 600px;
}

.skills {
  background-color: rgb(199, 183, 241);
  text-align: center;
  padding: 50px 0;
  height: 700px;
}

.skills div {
  display: inline-block;
  margin: 0 50px;
}

.skills h2 {
  font-size: 50px;
  color: purple;
  border: 4px solid black;
  padding: 20px 20px;
  border-radius: 12px;
  background-color: white;
}

.head {
  font-size: 35px;
}

.hard {
  font-family: 'Courier New', Courier, monospace;
  color: blue;
  letter-spacing: 2px;
  background-color: black;
  padding: 10px 5px;
}

.skills .left {
  margin-left: 200px;
}

li {
  list-style: none;
}

.skills li {
  margin: 20px 0;
}

.skills .right {
  margin-right: 200px;
}

.soft {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: antiquewhite;
  border-radius: 12px;
  padding: 10px 5px;
}

.skills li {
  font-size: 20px;
  text-align: left;
}

.skills li:nth-of-type(n + 6) {
  text-align: right;
}

