header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 1;
  display: flex;
  box-shadow: 0px 5px 10px #fff;
}

.header-left {
  float: left;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%;
}

.header-right {
  float: right;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
}

header a {
  color: silver;
  text-decoration: none;
  font-size: 1.5em;
  opacity: 0.5;
}

header a:hover {
  color: white;
  text-shadow:
    0 0 7px grey,
    0 0 10px grey,
    0 0 21px grey,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px silver,
    0 0 102px silver,
    0 0 151px silver;
  transition: 0.2s ease-in-out;
  animation: blinker 1s linear infinite;
}

.header-right a {
  margin-left: 1.2rem;
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
}
