header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: grey;
  z-index: 1;
  display: flex;
  box-shadow: 0px 1px 5px #000;
}

.header-left {
  float: left;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%;
}

.header-right {
  float: right;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
}

header a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  opacity: 0.5;
}

header a:hover {
  text-shadow: 0px 0px 2px #000;
  transition: 0.2s ease-in-out;
  animation: blinker 1s linear infinite;
}

.header-right a {
  margin-left: 1.2rem;
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
}
