.banner {
  background-color: #000;
  position: relative;
  top: 40px;
  height: 1000px;
}

.banner-main {
  position: relative;
  padding-bottom: 10%;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
  font-size: 7rem;
  text-align: end;
  height: 50px;
  letter-spacing: 0.05rem;
  padding-right: 18%;
}

h1:hover {
  animation: flicker 1s infinite alternate;
  cursor: default;
}

h1::selection {
  color: gold;
}

.banner-main-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.banner-main-left em {
  font-family: monospace;
  color: white;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 1%;
  letter-spacing: 0.05rem;
}

.banner-main-left h2{
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
  align-self: flex-start;
  margin: 20% 0 10% 6%;
  opacity: 0.7;
  animation: flicker 1s infinite alternate;
}

.spotlight {
  display: flex;
  margin-right: 100px;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 5px #fff;
  border-radius: 33px;
  width: 500px;
  height: 500px;
  opacity: 0.5;
  z-index: 0.5;
  background-color: black;
}

.spotlight h2 {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  height: 50px;
  margin-top: 0;
}

#main-profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 18%;
  position: absolute;
  top: 14%;
  right: 38%;
  box-shadow: 0 0 3px grey,
  0 0 5px grey,
  0 0 10px grey,
  0 0 21px grey;
  z-index: 1;
}

#main-profile:hover {
  width: 220px;
  height: 220px;
  box-shadow: 0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px silver,
  0 0 82px silver;
  transition: all 0.5s ease-in-out;
}

.banner-main-right:nth-child(n):hover {
  z-index: 2;
}

.spotlight:hover {
  box-shadow: 0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px silver,
  0 0 82px silver;
  transition: all 0.5s ease-in-out; 
  background-color: black;
  width: 520px;
  height: 520px;
  opacity: 1;
}

.banner-main-left p {
  color: #fff;
  opacity: 0.7;
  font-size: 1.2rem;
  text-align: end;
  margin: 17% 20% auto 5%;
}

.spotlight p {
  color: #fff;
  text-align: justify;
  margin: 0 12%;
  font-weight: normal;
}

.projects {
  align-items: center;
  justify-content: center;
  padding: 1% 0;
}

.projects h2 {
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px silver,
  0 0 82px silver;
  opacity: 1.0;
}

.projects h4 {
  color: #fff;
  font-size: 1.5rem;
  margin: 1% auto 2% auto;
  text-shadow: 0 0 5px silver,
  0 0 10px silver,
  0 0 21px silver;
}

.projects img {
  height: 250px;
  width: 250px;
  border-radius: 12px;
  margin: 1%;
  box-shadow: 0 0 3px grey,
  0 0 5px grey,
  0 0 10px grey,
  0 0 21px grey;
}

.projects p {
  text-align: center;
}

.neonText {
  opacity: 0.5;
  color: silver;
  text-shadow:
    0 0 3px #fff,
    0 0 5px grey,
    0 0 10px grey,
    0 0 21px grey;
  animation: flicker 2.5s step-start;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 55%, 63%, 70% {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px silver,
    0 0 82px silver,
    0 0 92px grey,
    0 0 102px grey,
    0 0 151px grey;
  }
  20%, 24%, 55%, 69% {
    opacity: 1;
    color: #fff;
    text-shadow: none;
  }
}

@keyframes box-flicker {
  0%, 18%, 22%, 25%, 53%, 55%, 63%, 70% {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px silver,
    0 0 82px silver;
  }
  20%, 24%, 55%, 69% {
    opacity: 1;
    boder: 1px solid #fff;
    box-shadow: none;
  }
}

hr {
  color: #fff;
  opacity: 0.5;
  width: 80%;
  margin: 20px auto;
}