.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

.image-container {
  height: 70%;
}

.login-container input {
  width: 80px;
  line-height: 1rem;
}

button {
  width: 80px;
  font-family: Oldenburg, cursive;
  margin-left: 2%;
}

.trybewarts-header-logo {
  height: 100%;
}

h1 {
  font-size: 1.9rem;
  font-family: Oldenburg, cursive;
}

.login-container {
  height: 70%;
  display: flex;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
}

.login-container .flex-container {
  width: 100%;
  margin-right: 2%;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  color: rgb(50, 167, 145);
  flex-flow: column nowrap;
}

#evaluation-form label {
  font-family: Oldenburg, cursive;
  margin: 2% 1%;
}

.image-main {
  align-self: center;
}

.image-main img {
  height: 500px;
}

.field-border {
  border: 1px solid rgb(50, 167, 145);
  padding: 4%;
  border-radius: 3%;
  min-width: 100%;
  margin-bottom: 5%;
}

#evaluation-form section {
  margin-bottom: 2%;
  text-align: center;
}

#family-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#learning-section {
  text-align: center;
}

#learning-section div {
  justify-content: center;
}

#rating-trybewarts {
  display: flex;
  flex-flow: row nowrap;
}

#comments-section {
  display: flex;
  flex-flow: column nowrap;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
}

@media only screen and ( min-width : 675px ) {

  header h1 {
    font-size: 2.5rem;
  }

  .login-container .flex-container {
    flex-flow: row nowrap;
  }

  .login-container input {
    margin: 1%;
    width: 120px;
  }

  header form {
    align-self: center;
  }

  main {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  #evaluation-form {
    margin-left: 2%;
    margin-top: 2%;
    max-width: 50%;
  }
}

@media only screen and ( max-width : 675px ) {

  #evaluation-form {
    width: 400px;
    align-self: center;
    margin-top: 2%;
  }

  .flex-container {
    flex-flow: column nowrap;
  }
}

@media only screen and ( max-width : 980px ) and ( min-width : 675px ) {

  .image-main img {
    height: 300px;
  }
}

@media only screen and ( max-width : 420px ) {

  header img {
    width: 40px;
  }

  header h1 {
    font-size: 1.3rem;
  }

  #evaluation-form {
    width: 350px;
  }

  .image-main img {
    width: 350px;
  }
}
