footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: grey;
  display: flex;
  padding-top: .5%;
  box-shadow: 0px -1px 5px #000;
}

.footer-left {
  float: left;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%;
}

.footer-right {
  float: right;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
  padding-bottom: .5%;
}

footer a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  opacity: 0.5;
  height: min-content;
  width: min-content;
}

footer img {
  height: 50px;
  width: 50px;
}

footer a:hover {
  transition: 0.2s ease-in-out;
  animation: blinker 1s linear infinite;
}

.footer-left a {
  margin-left: 1.2rem;
}

.footer-right p {
  color: black;
  opacity: 0.5;
  font-size: 1.2rem;
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
}
