.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: rgb(194, 173, 173) !important;
}

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  background-color: #14213d;
  border-radius: 12px;
  width: 120vh;

}

header h1 {
  font-size: 5rem;
  color: #fca311;
  letter-spacing: 1px;
}

header p {
  color: #e5e5e5;
}

.flex-container {
  display: flex;
}

section {
  text-align: center;
  background-color: #fca311;
  color: #e5e5e5;
  padding: 10%;
  border-radius: 20px;
  width: 120vh;
}

.lista-tarefas {
  margin: 10%;
}

.lista-tarefas li {
  padding: 2%;
  margin: 2%;
  background-color: #14213d;
  border-radius: 12px;
}

.lista-tarefas li:hover {
  background-color: #e5e5e5;
  color: #fca311;
}

article button {
  margin: 0.5%;
}

.label {
  color: #14213d;
  margin: 1%;
  letter-spacing: 1px;
}
