.meeting {
  background-color: black;
  position: relative;
  top: 40px;
  height: 1000px;
  width: 100%;
}

.meeting-main {
  position: relative;
  padding-bottom: 10%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meet-card {
  width: 40%;
  margin-left: 5%;
}

.meeting .social {
  margin: auto 0;
  padding-bottom: 0.5%;
}

.meeting-content {
  color: silver;
}

.social {
  padding: 0.3%;
}

.social img {
  cursor: pointer !important;
}

.social img:hover {
  opacity: 0.5;
}