.meeting {
  background-color: black;
  position: relative;
  top: 40px;
  height: 1000px;
  width: 100%;
}

.meeting-main {
  position: relative;
  padding-bottom: 10%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.meeting-main-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
