.stack-main {
  margin: 0 0 6% 8%;
  height: 150px;
  width: 600px;
  align-self: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.stack-main:hover {
  box-shadow: 0 0 10px #fff,
  0 0 12px #fff,
  0 0 14px #fff,
  0 0 16px #fff;
  transition: all 0.5s ease-in-out;
  color: silver;
  font-weight: 600;
}

.stack-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  opacity: 0.5;
}

.stack-icons img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  margin: 1%;
}

.stack-content {
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
  margin-left: 2%; 
}

.stack-content:hover {
  opacity: 1;
  z-index: 1;
}
