.stack-main {
  margin: 0 0 6% 8%;
  height: 150px;
  width: 600px;
  justify-self: flex-start;
  align-self: flex-start;
  border-radius: 20px;
}

.stack-main:hover {
  box-shadow: 0 0 10px #fff,
  0 0 12px #fff,
  0 0 14px #fff,
  0 0 16px #fff;
  transition: all 0.5s ease-in-out;
  color: silver;
  font-weight: 600;
  padding: 0.8%;
  height: 160px;
}

.stack-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  opacity: 0.5;
}


.stack-icons img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  margin: 1%;
}

.stack-content {
  font-size: 1.5rem;
}

.frontend:hover {
  opacity: 1;
  z-index: 1;
  background-color: black;
}

.backend:hover {
  opacity: 1;
  z-index: 1;
  background-color: black;
}

.testing:hover {
  opacity: 1;
  z-index: 1;
  background-color: black;
}

.cloud:hover {
  opacity: 1;
  z-index: 1;
  background-color: black;
}