.banner {
  background-color: darkgray;
  position: relative;
  top: 90px;
  height: 600px;
}

.banner-main {
  position: relative;
  height: 800px;
  width: 100%;
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  height: 50px;
  padding: 2%;
}

h1:hover {
  animation: flicker 1s infinite alternate;
  cursor: default;
}

h1::selection {
  color: gold;
}

.banner-main-left {
  display: flex;
  justify-content: flex-end;
}

.banner-main-right {
  display: flex;
  justify-content: flex-start;
  margin-right: 10%;
  margin-top: 5%;
}

.title {
  font-size: 6rem;
  text-align: center;
}

.neonText {
  opacity: 0.5;
  color: black;
  text-shadow:
    0 0 7px grey,
    0 0 10px grey,
    0 0 21px grey,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px silver,
    0 0 102px silver,
    0 0 151px silver;
  animation: flicker 2.5s step-start;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 55%, 63%, 70% {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px silver,
    0 0 82px silver,
    0 0 92px grey,
    0 0 102px grey,
    0 0 151px grey;
  }
  20%, 24%, 55%, 69% {
    opacity: 1;
    color: #fff;
    text-shadow: none;
  }
}